@font-face {
    font-family: starwars;
    src: url('star_jedi/starjedi/Starjedi.ttf');
}

section {
    width: 80%;
    height: 100px;
    border: 1px solid red;  
	background-color:black;
	background-image: url("stars.jpg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-family: starwars;
	text-align: center;
}

.lightsabre {
	border: 2px dashed yellow;
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	animation: swipe 1.3s forwards;
	
}

.handle{	
	height: 100px;
	width: 200px;
	background-image: url("rsz_lightsaber-hilt.png");
	background-repeat: no-repeat;
    background-position: center; 
	background-size: contain;
}

.handle img {	
	border: dashed 2px red;
}

.beam {
	height: 30px;
	color:transparent;
	background-color:transparent;
	width: 0%;
	animation: voom 1.8s forwards;
	text-align: center;
	font-size: 2.0em;
}

/*.handle:hover + .beam {
	animation: voom 1.2s forwards; 
}

.lightsabre:hover {
	animation: swipe 1.2s forwards;  
}*/

@keyframes swipe{
	0%{ transform: rotate(-135deg); transform-origin: left;}
}

@keyframes voom {
	0% { 
		background-color:transparent; 
		
	 }
	30% { width: 0%; background-color:green; color:transparent;}
	100% { width: 100%; -webkit-box-sizing: content-box; 
	  border: none;
	  -webkit-border-radius: 0 2px 2px 0;
	  border-radius: 0 5px 5px 0;
	  color: red;
	  text-align: center;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  background: #eaf0f2;
	  -webkit-box-shadow: 0 0 2px -3px rgba(31,226,57,0.95) , 0 0 15px 8px rgba(62,201,80,0.75) inset, 0 0 15px 8px rgba(62,201,80,0.75) ;
	  box-shadow: 0 0 2px -3px rgba(31,226,57,0.95), 0 0 2px -3px rgba(31,226,57,0.95) inset , 0 0 15px 8px rgba(62,201,80,0.75) inset, 0 0 15px 8px rgba(62,201,80,0.75) ;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
	  }
}

/* star cruiser div */
.box {
   width: 500px;
  -webkit-animation: cruiser 15s infinite linear; /* Safari 4+ */
  -moz-animation:    cruiser 15s infinite linear; /* Fx 5+ */
  -o-animation:      cruiser 15s infinite linear; /* Opera 12+ */
  animation:         cruiser 15s infinite linear; /* IE 10+, Fx 29+ */
}

.box img {
  display: block; /* to scale an image to fit div */
  max-width:319px;
  height: auto;
}

/* Standard syntax */


@keyframes cruiser {  
  0% { margin-left: -500px; } 
  100% { transform: translate(1000px); }
}